header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  nav {
    a {
      padding-right: 1rem;
      text-decoration: none;
      color: #999999;
    }
    a:hover {
      color: #666666;
    }
    .active-nav {
      color: #333333;
    }
  }
}
.logo {
  font-size: 2rem;
  text-decoration: none;
  color: #000000;
  font-weight: 700;
}
